body {
    font-family: Arial, sans-serif;
    background-color: #05365b;
}

.container {
    width: 50%;
    margin:  auto;
    padding: 50px;
    background-color: #4283a3;
    border-radius: 15px;
}

h1 {
    text-align: center;
}

label {
    display: block;
    margin-top: 10px;
}

input, select, textarea {
    width: 100%;
    padding: 10px;
    margin-top: 10px;
    border: 7px solid #144c5a;
    border-radius: 7px;
}

button {
    margin-top: 20px;
    padding: 20px;
    background-color: #05365b;
    color: white;
    border: none;
    border-radius: 7px;
    cursor: pointer;
}

/*button:hover {
    background-color: #05365b;
}*/
